<mat-toolbar>
    <div class="title"><img alt="the cultural art" src="../../assets/images/logo.png" height="104px" width="140px"><h2>THE CULTURAL ARTS</h2></div>
    <div class="infor">
    <div class="quick-links">
         <p>Quick Links</p>
         <ul>
            <li>Home</li>
            <li>About Us</li>
            <li>Services</li>
            <li>contact us</li>

         </ul>
        </div>

    <div class="services">
        <p>Services</p>
        <ul>
            <li>Wedding Cards</li>
            <li>Event Cards</li>
            <li>Soviners</li>
            <li>Laser Works</li>
            <li>Gifts and Prizes</li>


        </ul>
    </div>

    <div class="contact">
        <p>Contact me</p>
        <span>Sanu Maharjan</span><br/>
        <span>Prayag pokhari, Lalitpur, Nepal</span><br/>
        <span>{{ph_number}}</span><br/>
        <span>{{email}}</span>
    </div>
    </div>
</mat-toolbar>
