mat-toolbar{
    height:auto;
    width: 100%;
    background-color: var(--color);
    display: flex;
    justify-content: center;
    color: white;
}
ul{
 margin: 0;
}
.infor{
   
    display: flex;
    justify-content: space-between;
}
div{
    padding: 15px;
}
img:hover{
    cursor: pointer;
}

@media screen and (max-width: 930px) {

   
  .mat-toolbar{
    flex-direction: column;
    justify-content: center;
  }
  }

  @media screen and (max-width:661px){
     .infor{
    flex-direction: column;
    justify-content: center;
   } 
  }